<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>

    <!-- Icons -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <!-- CSS Styling -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

    <header>
        <div class="container">
            <h1>CRUD Application System</h1>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="top-form">
                <a href=""><span>Add New</span><i class="fi fi-rr-user"></i></a>
            </div>
            <form action="/" method="post">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Username</td>
                            <td>example@gmail.com</td>
                            <td>Male</td>
                            <td>Active</td>
                            <td>
                                <a>
                                    <span><i class="fi fi-rr-pencil"></i></span>
                                </a>
                                <a>
                                    <span><i class="fi fi-rr-pencil"></i></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>

</body>
</html>