
<!-- header -->
<%- include('include/_header')%>
<!-- /header -->

<main>
    <div class="container">
        <div class="top-form">
            <h2>Update User</h2>
        </div>
        <%- include('include/form')%>
    </div>
</main>

<!-- footer -->
    <%- include('include/_footer')%>
<!-- /footer -->