
<!-- header -->
<%- include('include/_header')%>
<!-- /header -->

<main>
    <div class="container">
        <a href="/" class="back-home">
            <i class="fi fi-rr-angle-left"></i>
            <i class="fi fi-rr-angle-left"></i>
            <i class="fi fi-rr-angle-left"></i>
            <span>Back to home</span>
        </a>
        <div class="top-form">
            <h2>Update User</h2>
        </div>
        <%- include('include/update-form')%>
    </div>
</main>

<!-- footer -->
    <%- include('include/_footer')%>
<!-- /footer -->