<form action="/" method="post">
    <div class="form-group">
        <label for="">Name :</label>
        <input type="hidden" name="id" value="">
        <input type="text" name="name" value="" placeholder="Adam Groke">
    </div>
    <div class="form-group">
        <label for="">Email :</label>
        <input type="text" name="email" value="" placeholder="example@gmail.com">
    </div>
    <div class="form-group">
        <label for="">Gender :</label>
        <div class="radio-inline">
            <input type="radio" name="gender" value="Male">
            <label for="">Male</label>
        </div>
        <div class="radio-inline">
            <input type="radio" name="gender" value="Female">
            <label for="">Female</label>
        </div>
    </div>
    <div class="form-group">
        <label for="">Status :</label>
        <div class="radio-inline">
            <input type="radio" name="status" value="Active">
            <label for="">Active</label>
        </div>
        <div class="radio-inline">
            <input type="radio" name="status" value="Inactive">
            <label for="">Inactive</label>
        </div>
    </div>
    <div class="bottom-form">
        <button type="submit">Save</button>
    </div>
</form>