<tr>
    <td>1</td>
    <td>Username</td>
    <td>example@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update-user">
            <span><i class="fi fi-rr-pencil"></i></span>
        </a>
        <a>
            <span><i class="fi fi-rr-pencil"></i></span>
        </a>
    </td>
</tr>