@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --dark: #fff;
    --light: #fff;
    --border: #fff;
    --btn: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}